article{
    margin : 65px;
    padding : 20px;
    width : 90%;
    display : inline-block;
    border : 2px solid black;
}

#title{
    display : inline-block;
    width : 100%;
}
#comment-form{
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
    width: 700px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
/* .comment-box{
    border: 1px solid black;
    margin: 50px;
    display: flex;
    justify-content: center;
} */

.comment-section{
    margin: 50px auto;
    max-height: 400px;
    max-width: 90%;
    background-color: #3f3f3f;
    overflow-y:scroll;
}
.comment-box{
    height: 10%;
    padding: 2%;
    margin: 2%;
    background-color: #ffff;
    color: black;
}

#name, #email, #text{
    width: 500px;
    margin: 10px;
}