article{
    margin : 50px;
    padding : 5px;
    width : 90%;
    display : inline-block;
    border : 2px solid black;
}

#title{
    margin : 10px;
    padding : 20px;
    display : inline-block;
    width : 80%;
}