#heading{
    margin : 10px;
    padding : 20px;
    display : inline-block;
    width : 95%;
    font-size: 64px;
}
a#title {
    color: black;
}
article{
    margin : 50px;
    padding : 5px;
    width : 43%;
    display : inline-block;
    border : 2px solid black;
    word-wrap: break-word;
}
.card{
    text-decoration : none; color : black;
}
.header{
    display: flex;
    justify-content: spaced-evenly;
}
#search-form{
    width:auto;
    margin-top: 50px;
    margin-right: 50px;
}
#sort-form{
    width:auto;
    margin-top: 50px;
    margin-right: 50px;
}
#filter-form{
    margin-top: 50px;
    margin-right: 50px;
}

#form-login{
    margin-top: 50px;
    margin-right:50px;
}

#form-createNew{
    width: auto;
    margin-top: 50px;
    margin-right:50px;
}

#filter-btn{
    width: 150px;
}

#form-logout{
    margin-top: 50px;
    margin-right:50px;
}

.row{
    padding: 10px;
    width: 99%;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    margin-left: 20px;
    margin-right: 20px;
}
.btn{
    margin:5px;
    width:60px;
    padding: 5px;
    border:1px solid black;
    cursor: pointer;
    background-color:rgb(211,208,208);
}
.newPostBtn{
    width:auto;
    white-space:nowrap;
}
button:hover {
  opacity: 0.8;
}
.nxt{
    padding-left: 20px;
}
.sort{
    margin:50px;
}
.sortBtn{
    margin-top: 10px;
    margin-button: 10px;
}