<!DOCTYPE html>
<html xmlns:th="https://www.thymelef.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/blogpage.css}">
</head>
<body>
    <h3 align="left" id="heading">My Blog Application</h3>
    <main id="post">
        <article>
            <a th:href="@{/updatePost/{id}(id=${post.id})}" class="btn" > Update</a>
            <h1 align="center" id="title" th:text="${post.title}">Blog post title</h1>
            <div align="center" class="blog-details">
                <span th:text="${post.author}"></span>,
                <span th:text="${#dates.format(post.createdAt, 'dd/MM/yyyy')}"></span>
            </div>
            <p class="content" th:utext="${post.content}"></p>
        </article>

        <div>
            <form id="comment-form" action="#" th:action="@{{id}/saveComment(id=${post.id})}" th:object="${comment}" method="post">
                <input type="hidden" th:field = "${comment.id}"/>
                <input type="text"  name="name" th:value="${comment.name}" id="name" placeholder="Enter your name" required><br>
                <input type="email" name="email" th:value="${comment.email}" id="email" placeholder="Enter your email" required><br>
                <textarea name="text" th:field="*{text}" id="text" placeholder="Enter your comment here"></textarea><br>
                <button type="submit" id="savebtn" value="save">Save Comment</button>
            </form>
        </div>

        <h3>Comment Section</h3>
        <div class="comment-section">
            <div th:each="comment : ${commentList}">
                <div class="comment-box">
                    <span class="timestamp">
                        <b><span th:text="${comment.name}"></span>,
                        <span th:text="${#dates.format(comment.createdAt, 'dd/MM/yyyy')}"></span></b>
                    </span>
                    <p class="content" th:utext="${comment.text}"></p>
                    <form th:action="@{/showPost/{postId}/updateComment/{commentId}(postId=${post.id},commentId=${comment.id})}">
                        <button type="submit" value="edit">Edit</button>
                    </form>
                    <form th:action="@{/showPost/{postId}/deleteComment/{commentId}(postId=${post.id},commentId=${comment.id})}">
                        <button type="submit" value="delete">Delete</button>
                    </form>
                </div>
            </div>
        </div>

    </main>
</body>
</html>