<!DOCTYPE html>
<html xmlns:th="https://www.thymelef.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drafts</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <h1 align="left" id="heading">My Blog Application</h1>
    <form th:action="@{/draftPage}">
        <input type="text" name="keyword" placeholder="Search keyword">
        <button type="submit">Search</button>
    </form>
    <main id="blogs">
        <span th:each="post : ${postList}">
            <span th:if="${post.isPublished() == false}">
                <article>
                    <a th:href="@{/showPost/{id}(id=${post.id})}" class="card">
                        <h2 class="title" th:text="${post.title}">Post Title</h2>
                        <div class="timestamp">
                            <span th:text="${post.author}"></span>,
                            <span th:text="${#dates.format(post.createdAt, 'dd/MM/yyyy')}"></span>
                        </div>
                        <p class="content" th:utext="${post.excerpt}"></p>
                    </a>
                </article>
            </span>
        </span>
    </main>
</body>
</html>
