<!DOCTYPE html>
<html xmlns:th="https://www.thymelef.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/loginpage.css}"/>
</head>
<body>
    <form th:action="@{/dologin}" method="post">
        <div class="container">
            <h1>Login</h1>
            <hr>
            <div th:if="${param.error}">
                Invalid Username and Password
            </div>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>

        <div class="container signup">
            <p>New User? <a th:href="@{/signup}">Sign up</a>.</p>
        </div>
    </form>
</body>
</html>