<!DOCTYPE html>
<html xmlns:th="https://www.thymelef.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signuppage.css}">
</head>
<body>
<form th:action="@{/saveNewUser}" th:object="${user}" method="post">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" th:value="${user.name}" name="name" id="name" required>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" th:value="${user.email}" name="email" id="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:value="${user.password}" name="password" id="password" required>

        <button type="submit" class="registerbtn">Sign Up</button>
    </div>
    <div class="container signin">
        <p>Already have an account? <a th:href="@{/signin}">Sign in</a>.</p>
    </div>
</form>
</body>
</html>

\